/*  your css code here. If applicable */
/* .para{
Font color: #00f;
Background color: #eee;
Font family: Arial;
Font size: 20px;
} */
.selector{
	color:#00f;
	background-color: #eee;
	font-family:Arial;
	font-size:20px;
}